all_data
MOT17
CrowdHuman
/runs
/weights
__pycache__
/myenv
data/trackers
model
results/
datasets
test_color.py
test_segmentation.py
resultsPAR/
img.jpg
mask.jpg
results.json
PARresults.txt
venv
dataset
