all_data
MOT17
CrowdHuman
/runs
/weights
__pycache__
/myenv
data/trackers
model
results/
datasets
test_color.py
test_segmentation.py
resultsPAR/
img.jpg
mask.jpg
results.json
PARresults.txt
venv
dataset
validation_set_reduced
inference_results
attributes_recognition_module
test_colors_on_PAR_dataset
